worker_processes auto;
events { worker_connections 4096; }
http {
  upstream backend-prod { server backend-prod:8080; }
  upstream frontend-prod { server frontend-prod:5173; }
  include /etc/nginx/mime.types;
  server {
    listen 80;
    server_name ${SERVER_NAME};
    location /.well-known/acme-challenge/ { root /var/www/certbot; }
    location / { return 200 'Waiting for the TLS certificate'; add_header Content-Type text/plain; }
  }
}
